{% extends "auctions/layout.html" %}


{% block body %}
<h2> Categories </h2>
<form action="{% url 'auctions:categories' %}" method="post">
    {% csrf_token %}
        <select name ="element" class="form-select" aria-label="Small select example" >
            
            {% for id in elements %}
               <option value="{{ id.element }}">{{ id.element }}</option>
            {% endfor %}
                
        </select>
        <input type="submit">
</form>

{% for listing in listings %}
    <div class="container">
        <!-- Image Section -->
        <div class="image-container">
            <img src="{{ listing.image_url }}" alt="Auction Item">
        </div>

        <!-- Auction Details Section -->
        <div class="details-container">
            <h2>
                <a href="{% url 'auctions:detail' listing.id %}">
                    {{ listing.title }}
                </a>
            </h2>
            <p><strong>Price:</strong> ${{ listing.starting_bid }}</p>
            <p>Created {{ listing.created_time }}</p>
        </div>
    </div>
{% empty %}
    <div></div>
{% endfor %}


{% endblock body %}
    